{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
	
.form-signin {
  max-width: 330px;
  padding: 15px;
  width = 100%;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3{
	text-align:center;
}

</style>

<form class="form-signin" method="post">{% csrf_token %} 
    
    <div class="d-flex flex-column pb-3"> 
      <img class="img-fluid mx-auto d-block"src="{% static 'Bloggify_png.png' %}" alt="Bloggify Logo" width="122" height="122">
    </div>
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-signin">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email address" required autofocus>
      
    </div>
    <div class="form-signin">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required autofocus> 
    </div>

    {% for field in login_form %}
		{% for error in field.errors %}
			<p style="color: red;">{{error}}</p>
		{% endfor %}
	{% endfor %}

	{% if login_form.non_field_errors %}
		<div style ="color:red;">
			<p>{{login_form.non_field_errors}}</p>
		</div>
	{% endif %}

    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
 	
  </form>



{% endblock content %}	